<div class="payrollNewrun">

    <!-- top 3 buttons -->
    <div class="topbuttons">
        <button class="overview" type="button">Overview</button>
        <button class="run" type="button" [routerLink]="['/payroll/run_payroll/payments']">Run Payroll</button>
        <button class="advance" type="button">Advance Request</button>
    </div>

    <!-- links after the buttons -->

    <div class=" links">
        <a routerLink="/payroll/run_payroll/new_run" id="new">New Run</a>
        <a routerLink="/payroll/run_payroll/review">Review</a>
        <a routerLink="/payroll/run_payroll/approve_run">Approve Run</a>
        <a routerLink="/payroll/run_payroll/payments">Payments</a>
    </div>

    <!-- form with the proceed button -->

    <div class="forms">

        <form class="row">
            <div class="col-2 display">
                <p id="head"><strong>Branch</strong></p>
                <select class="form-select drops" aria-label="">
                    <option selected hidden disabled></option>
                    <option value="1">Branch 1</option>
                    <option value="2">Branch 2</option>
                    <option value="3">Branch 3</option>
                </select>
            </div>
            <div class="col-2 display">
                <p id="head"><strong>Run Type</strong></p>
                <select class="form-select drops" aria-label="">
                    <option selected hidden disabled></option>
                    <option value="1">Weekly</option>
                    <option value="2">Bi-Monthly</option>
                    <option value="3">Monthly</option>
                </select>
            </div>
            <div class="col-2 display">
                <p id="head"><strong>From</strong></p>
                <input type="date" class="form-control drops" id="" placeholder="">
            </div>
            <div class="col-2 display">
                <p id="head"><strong>To</strong></p>
                <input type="date" class="form-control drops" id="" placeholder="">
            </div>

            <div class="col-2 display">
                <p id="head"><strong>Payment Method</strong></p>
                <select class="form-select drops" aria-label="">
                    <option selected hidden disabled></option>
                    <option value="1">Direct Deposit</option>
                    <option value="2">Mpesa</option>
                </select>
            </div>

            <div class="col-2">
                <button type="submit" class="proceed">Proceed</button>
            </div>
        </form>

    </div>

    <!-- payroll history -->
    <div class="row history new">

        <div class="shadow rounded">

            <div class="col-8 pad">
                <strong>Payroll History</strong>
            </div>

            <div class="col-2 freq">
                <strong>Frequency</strong> <span id="circled">Monthly</span>
            </div>

            <div class="col-2 drop">
                <p id="pay"><strong>Year</strong></p>
                <p id="select"><select class="form-select" aria-label="">
                        <option selected hidden disabled>2021</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select></p>
            </div>

        </div>

    </div>

    <!-- table section -->
    <div class="table">

        <table class="table">
            <thead>
                <tr id="new">
                    <th scope="col">Pay ID</th>
                    <th scope="col">Month</th>
                    <th scope="col">Debit Amount</th>
                    <th scope="col">Gross Pay</th>
                    <th scope="col">Net Pay</th>
                    <th scope="col">Deductions</th>
                    <th scope="col">Staff Paid</th>
                    <th scope="col">Payment Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ID will come here</td>
                    <td>Months</td>
                    <td>KSH.</td>
                    <td>KSH.</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>Number</td>
                    <td>Status here</td>
                </tr>
                <tr>
                    <td>ID will come here</td>
                    <td>Months will come here</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>Number</td>
                    <td>Status here</td>

                </tr>
                <tr>
                    <td>ID will come here</td>
                    <td>Months will come here</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>Number</td>
                    <td>Status here</td>

                </tr>
            </tbody>
        </table>

    </div>

</div>