<div class="container-fluid">
    <div class="row">
        <div class="col-sm-16">
            <div class="body">
                <button type="button" id="current" routerLink='/'>Overview</button>
                <button type="button">Payslips</button>
                <button type="button" routerLink='/p9-forms'>Year End</button>
                <div class="wrapper" id="wrapper">
                    <span>Employment Type
                        <button type="button" id="inline">All</button></span>
                    <span>Department
                        <button type="button" id="inline">All</button></span>
                    <a><button type="button" id="lastinline">Download List</button></a>
                </div>
                <table style="width:90%">
                    <thead id="thead">
                        <th>Full Name</th>
                        <th>Department</th>
                        <th>Position</th>
                        <th>Gross Pay</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td routerLink='/single-user' id="name">James Wanyama</td>
                            <td>Information Technology</td>
                            <td>Software Developer</td>
                            <td>KES 103,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td id="name">Grace Wandiri</td>
                            <td>Information Technology</td>
                            <td>ICT Manager</td>
                            <td>KES 98,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td id="name">Anderson Karani</td>
                            <td>Logistics & Operations</td>
                            <td>Operations Manager</td>
                            <td>KES 98,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td id="name">Abdallah Hassan</td>
                            <td>Sales & Marketing</td>
                            <td>Sales Manager</td>
                            <td>KES 93,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td id="name">Mercy Andrews</td>
                            <td>Sales & Marketing</td>
                            <td>Business Development</td>
                            <td>KES 45,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td routerLink='/single-user' id="name">Sheila Martins</td>
                            <td>Information Technology</td>
                            <td>IT Assistant</td>
                            <td>KES 58,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td id="name">Sharon Musyoka</td>
                            <td>Sales & Marketing</td>
                            <td>Sales Associate</td>
                            <td>KES 45,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td id="name">Martin Mwenda</td>
                            <td>Product Development</td>
                            <td>UX Designer</td>
                            <td>KES 58,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td id="name">Oscar Odhiambo</td>
                            <td>Information Technology</td>
                            <td>Quality Analyst</td>
                            <td>KES 63,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td id="name">Ann Wanjiku</td>
                            <td>Sales & Marketing</td>
                            <td>Operations Manager</td>
                            <td>KES 98,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td id="name">Oliver James</td>
                            <td>Information Technology</td>
                            <td>IT Asistant</td>
                            <td>KES 58,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td id="name">Tabitha Wanja</td>
                            <td>Logistics & Operations</td>
                            <td>Operations Manager</td>
                            <td>KES 98,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td id="name">Michael Njeru</td>
                            <td>Human Resource</td>
                            <td>Human Resource Manager</td>
                            <td>KES 82,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td id="name">Mathew James</td>
                            <td>Information Technology</td>
                            <td>ICT Manager</td>
                            <td>KES 98,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                        <tr>
                            <td id="name">Derrick Njue</td>
                            <td>Finance</td>
                            <td>Accountant</td>
                            <td>KES 92,000</td>
                            <td>Active</td>
                            <a><button type="App-Button" id="App-Button">Manage</button></a>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>