.payslips{
    width: 100%;
}

.topbuttons {
  padding-left: 10px;
  padding-top: 10px;
}

.overview {
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  border: #004763 2px solid;
  color: #004763;
  border-radius: 2px;
}

.run {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 15px;
  background-color: #004763;
  border: #004763 2px solid;
  color: #ffffff;
  border-radius: 2px;
}

.advance {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 15px;
  background-color: white;
  border: #004763 2px solid;
  color: #004763;
  border-radius: 2px;
}

button:hover {
  background-color: #004763;
  color: white
}

.history,
.shadow {
  padding-top: 10px;
  display: flex;
  padding-left: 20px;
  width: 100%;
}

/* payroll history section */
#new,
.new {
  color: #004763;
}

.display {
  display: flex;
  padding-left:1%;
}

#head {
  color: #004763;
}

.table {
  padding-left: 20px;
  padding-right: 20px;
}

.drops {
  margin-bottom: 10%;
  border: 2px solid #004763;
  margin-left: 1%;
}

#head {
  margin-top: 5%
}