<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css"
    integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css"
    integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous" />
<div class="sidenav">
    <div class="links">
        <a routerLink="dashboard" routerLinkActive="active">
            <span class="pe-2"><i class="fas fa-tachometer" aria-hidden="true"></i></span>
            Dashboard
        </a>
        <a routerLink="payroll" routerLinkActive="active">
            <span class="pe-2"><i class="fas fa-money-check-alt"></i></span>
            Payroll
        </a>
        <a routerLink="expenses" routerLinkActive="active">
            <span class="pe-2"><i class="fas fa-file-invoice-dollar"></i></span>
            Expenses
        </a>
        <a routerLink="staff" routerLinkActive="active">
            <span class="pe-2"><i class="fas fa-users"></i></span>
            Staff
        </a>
        <a routerLink="reports" routerLinkActive="active">
            <span class="pe-2"><i class="fas fa-folder-open"></i></span>
            Reports
        </a>
        <a routerLink="settings" routerLinkActive="active">
            <span class="pe-2"><i class="fa fa-cog" aria-hidden="true"></i>
            </span>
            <!--<i class="fas fa-badge-dollar"> </i>-->
            Settings
        </a>
        <a routerLink="support" id="support" routerLinkActive="active">
            <span class="pe-2"> <i class="fas fa-envelope"></i></span>
            Support
        </a>
    </div>
    <div class="fuzupay">
        <p>©Fuzupay</p>
    </div>
</div>