.payrollReview {
  width: 100%;
}

.topbuttons {
  padding-left: 10px;
  padding-top: 10px;
}

.overview {
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  border: #004763 2px solid;
  color: #004763;
  border-radius: 2px;
}

.run {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 15px;
  background-color: #004763;
  border: #004763 2px solid;
  color: #ffffff;
  border-radius: 2px;
}

.advance {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 15px;
  background-color: white;
  border: #004763 2px solid;
  color: #004763;
  border-radius: 2px;
}

button:hover {
  background-color: #004763;
  color: white
}

/* links styles */
.links {
  border: 2px solid #004763;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#new,
.new {
  color: #004763
}

.links a {
  text-decoration: none;
  color: black;
  padding: 30px;
}

.links a:active {
  text-decoration: none;
  color: #004763;
}

.summary {
  display: flex;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
}

#debit {
  padding-left: 20px;
}

#pay {
  padding-left: 20px;
}

.edit,
.confirm {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #004763;
  border: #004763 2px solid;
  color: #ffffff;
  border-radius: 2px;
}

#circled {
  border: 2px solid;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 15px;
}

.shadow {
  padding-left: 20px;
}

.table {
  padding-left: 20px;
  padding-right: 20px;
}

.drop{
  display: flex;
}

#select{
  padding-left: 5px;
}