<div class="payrollReview">

    <!-- top 4 buttons -->
    <div class="topbuttons">
        <button class="overview" type="button">Overview</button>
        <button class="run" type="button" [routerLink]="['/payroll/run_payroll/payments']">Run Payroll</button>
        <button class="advance" type="button">Advance Request</button>
        <button class="advance" type="button">Payroll Settings</button>
    </div>

    <!-- links after the buttons -->

    <div class=" links">
        <a routerLink="/payroll/run_payroll/new_run">New Run</a>
        <a routerLink="/payroll/run_payroll/review" id="new">Review</a>
        <a routerLink="/payroll/run_payroll/approve_run">Approve Run</a>
        <a routerLink="/payroll/run_payroll/payments">Payments</a>
    </div>

    <div class=" row summary">
        <div class="col-2">
            <p id="type"><strong>Run Type:__</strong></p>
        </div>
        <div class="col-2">
            <p id="debit"><strong>Debit Date:__</strong></p>
        </div>
        <div class="col-2">
            <p id="pay"><strong>Pay Date:__ </strong></p>
        </div>
        <div class="col-1">
        </div>
        <div class="col-1">
        </div>
        <div class="col-1">
        </div>
        <div class="col-1">
            <button class="edit" type="button">Edit</button>
        </div>
        <div class="col-1">
            <button class="confirm" type="button">Confirm</button>
        </div>
    </div>

    <div class=" row summary shadow new">
        <div class="col-2">
            <p id="type"><strong>__ Employees Inlcuded</strong></p>
        </div>
        <div class="col-1">
            <p id="debit"><strong>KES__</strong></p>
        </div>
        <div class="col-1">
            <p id="pay"><strong>KES__</strong></p>
        </div>
        <div class="col-2">
            <p id="pay"><strong>KES__</strong></p>
        </div>
        <div class="col-1">
            <p id="pay"><strong>KES__</strong></p>
        </div>
        <div class="col-1">
        </div>
        <div class="col-2 drop">
            <p id="pay"><strong>Employee Type</strong></p>
            <p id="select"><select class="form-select" aria-label="">
                    <option selected hidden disabled></option>
                    <option value="1">All</option>
                    <option value="2">Type 1</option>
                    <option value="3">Type 2</option>
                </select></p>
        </div>

    </div>

    <!-- table section -->
    <div class="table">

        <table class="table">
            <thead>
                <tr id="new">
                    <th scope="col">Full Name</th>
                    <th scope="col">Hours</th>
                    <th scope="col">Gross Pay</th>
                    <th scope="col">Est. Deductions</th>
                    <th scope="col">Commision & Overtime</th>
                    <th scope="col">Estimated Net Pay</th>
                    <th scope="col">Pay Method</th>
                    <th scope="col">Pay Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="new">Names will come here</td>
                    <td>Hrs will come here</td>
                    <td>KSH.</td>
                    <td>KSH.</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>Method</td>
                    <td>Dates will come here</td>
                </tr>
                <tr>
                    <td id="new">Names will come here</td>
                    <td>Hrs will come here</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>Method</td>
                    <td>Dates will come here</td>

                </tr>
                <tr>
                    <td id="new">Names will come here</td>
                    <td>Hrs will come here</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>KSH</td>
                    <td>Method</td>
                    <td>Dates will come here</td>

                </tr>
            </tbody>
        </table>

    </div>

</div>