.top-buttons {
  padding-top: 10px;
  padding-left: 10px;
}

#overviews {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #004763;
  border: #004763 2px solid;
  color: white;
  border-radius: 2px;
  text-decoration: none;
}

#approvals {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 15px;
  border: #004763 2px solid;
  background-color: white;
  color: #004763;
  border-radius: 2px;
  text-decoration: none;

}

#payments {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 15px;
  background-color: white;
  border: #004763 2px solid;
  color: #004763;
  border-radius: 2px;
  text-decoration: none;
}

.expense-table {
  border: 2px solid #004763;
  margin-left: 1%;
  margin-right: 1%;
}

.expense-type,
.status,
.month,
.year {
  display: flex;

}

#new {
  color: #004763;
}

#All {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 15px;
  background-color: white;
  border: #004763 2px solid;
  color: #004763;
  border-radius: 2px;
  text-decoration: none;
}

#Download {
  margin-left: 5px;
  padding-left: 50px;
  padding-right: 40px;
  background-color: #004763;
  border: #004763 2px solid;
  color: white;
  border-radius: 2px;
  text-decoration: none;
}

.shadow {
  padding-left: 1%;
  padding-right: 1%;
}

.table {
  margin-left: 1%;
  margin-right: 1%;
}

button {
  /* padding-left: 20px;
    padding-right: 20px; */
  margin-left: 15px;
  border: #004763 2px solid;
  background-color: white;
  color: #004763;
  border-radius: 2px;
  text-decoration: none;
}